.name__logo {
  width: 15%;
  margin-left: 80%;
  @media screen and (max-width: 992px) {
    width: 20%;
    margin-left: 70%;
  }
  @media screen and (max-width: 768px) {
    width: 14%;
    margin-left: 80%;
    margin-bottom: 30%;
  }
  @media screen and (max-width: 576px) {
    width: 20%;
    margin-left: 70%;
  }
}
